.nav-bar {
  box-sizing: border-box;
  display: flex;
  @include setPad;
  height: 100px;
  line-height: 100px;
  font-weight: bolder;
  &__logo {
    display: flex;
    position: relative;

    .logo-img::before {
      content: url("../image/Vector\ Smart\ Object\ copy.svg");
      background-repeat: no-repeat;
      margin-right: 6px;
      position: relative;
      top: 8px;
    }
    .thegem {
      font-size: 27px;
      font-family: 'Montserrat', sans-serif;
    }
  }
  &__items-nav {
    display: flex;
    justify-content: center;
    @media (min-width: 1200px) and (max-width: 1325px) {
      font-size: 13px;
      margin-left: 15px;
      margin-right: 15px;
    }
    .li-nav {
      font-family: 'Montserrat', sans-serif;
    }
    .btn-empty {
      border: 2px solid black;
      color: black;
      height: 26px;
      width: 80px;
      border-radius: 2px;
    }
    .mrg-l {
      margin-left: 40px;
    }
  } 
  &__search {
    display: flex;
    justify-content: flex-start;
    .england {
      width: 18px;
      height: 14px;
      position: relative;
      top: 43px;
      left: -40px;
      margin-left: 15px;
      @media (min-width: 1300px) and (max-width: 1400px) {
        margin-left: 10px;
      }
      @media (min-width: 0px) and (max-width: 605px) {
        display: none;
      }
    }
    .fa-bag-shopping {
      position: relative;
      left: -20px;
    }
    .right-mg {
      position: relative;
      right: 30px;
    }
    .totle-group {
      position: relative;
      left: -12px;
    .triangle-topleft {
      width: 0;
      height: 0;
      border-top: 9px solid #fff;
      border-right: 9px solid transparent;
      border-bottom: 9px solid #fff;
      @include total;
    }
    .recutang {
      width: 24px;
      height: 18px;
      background-color: #00bbd3;
      position: relative;
      top: 24px;
      left: 9px;
      .number {
        position: absolute;
        top: -41px;
        left: 8px;
        color: #fff;
        font-size: 14px;
      }
    }
  }
  }
}
